/* Emely Rodriguez*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --darkgray: #222222;
    --lightgray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
}
html, body{
    overflow-x: hidden;
}

body{
    color: var(--darkgray);
}

h1, h2, h3{
    font-family: 'Molle', serif;
}

h4, p, q, small, nav, button, form{
    font-family: 'Montserrat', sans-serif;
}



#skip {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

header{
    background-image: linear-gradient(var(--teal), var(--white));
}

h1{
    font-size: 2.5em;
    padding: 0 1rem;
}

#logo img{
    display: block;
    width: 9rem;
    height: auto;
    padding: 1rem 0;
}

header p{
    letter-spacing: 1.2px;
    line-height: 20px;
    padding: 0 1rem;
}

#menu-toggle{
    display: block;
    position: relative;
    top: -125px;
    left: 200px;
    z-index: 1;
    user-select: none;
}

#menu-toggle a{
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#main-content{
    position: relative;
    top: -30px;
}

h2 {
    font-size: 2.2rem;
    padding: .5rem 1rem;
}

#intro p{
    padding: 0 1rem;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: .9rem;
}

#img-grid{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    padding: .5rem 0;
}

#img-grid img{
    width: 100%;
    height: auto;
}

#plan{
    background-color: var(--yellow);
    padding: .5rem;
}

h3{
    font-size: 2.2rem;
    padding: 1rem;
}
#plan div{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
    margin: 1rem;
}

#plan section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--teal);
    border: .125rem solid var(--white);
    border-radius: 10px;
}

#plan h4{
    font-size: 1.2rem;
    padding: 1rem 0;
    font-weight: bold;
    text-transform: uppercase;
}

#plan img{
    display: block;
    margin: 0 auto;
    height: 80%;
    width: auto;
}

#testimonials {
    padding: 1.5rem 0;
}

#testimonials div{
    display: grid;
    grid-gap: 1rem;
    grid-template-rows:repeat(4, 1fr);
}

#testimonials section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimonials img{
    height: 65%;
}

#testimonials h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: .5rem 0;
}

#testimonials p, #testimonials q{
    text-align: center;
    font-size: 1.1em;
}

#testimonials p{
    padding: .12rem 0;
}
q{
    padding: 0 3rem;
    font-style: italic;
    line-height: 115%;
    quotes: '"' '"';
}

q::before{
    content: open-quote;
}

q:after{
    content: close-quote;
}

#about {
    background-color: var(--blue);
}

#about div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

#about section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about h4{
    font-weight: bold;
    text-transform: uppercase;
    padding: .5rem 0;
}

#about img{
    display: block;
    margin: 0 auto;
    height: 40%;
    width: auto;
}

#about section:nth-child(even){
    width: 150px;
}

#contact h3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}


form{
    display: block;
    margin: 0 1.5rem;
}

.form-required{
    font-family: 'Montserrat', sans-serif;
    font-size: .875rem;
    font-style: italic;
}


label, legend{
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: .5rem;
    font-size: 1em;
}

.required{
    color: var(--purple);
    font-weight: 100;
    font-size: 1.2rem;
    padding: .12rem;
}

input {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: .675rem 1rem;
    border: 2.5px solid var(--purple);
    border-radius: 2px;
    line-height: 1;
}

fieldset label {
    font-weight: 100;
    text-transform: capitalize;
}

fieldset{
    display: flex;
    flex-direction: column;
}

fieldset label{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.radio-label{
    padding: 0 1rem;
}

input[type="radio"]{
    appearance: none;
    margin: 0;
    color: var(--purple);
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
}


.radio-input:checked{
    color: var(--purple);
}
/*medium screen*/
@media screen and (min-width: 600px){
    
}

/*large screens*/
@media screen and (min-width: 800px){
    
}