/* Emely Rodriguez*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --darkgray: #222222;
    --lightgray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
}
*, *::before, *::after{
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}

body{
    color: var(--darkgray);
}

h1, h2, h3{
    font-family: 'Molle';
}

h4, p, q, small, nav, button, form{
    font-family: 'Montserrat', sans-serif;
}



#skip {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

header{
    background-image: linear-gradient(var(--teal), var(--white));
}

h1{
    font-size: 2.5em;
    padding: 0 1rem;
}

#logo img{
    display: block;
    width: 9rem;
    height: auto;
    padding: 1rem 0;
}

header p{
    letter-spacing: 1.2px;
    line-height: 20px;
    padding: 0 1rem;
}

.active {
    background-color: var(--yellow);
}

#menu-toggle{
    display: block;
    position: relative;
    top: -195px;
    left: 212px;
    z-index: 1;
    user-select: none;
}

#menu-toggle a{
    text-decoration: none;
    color: var(--darkgray);
    transition: color .3s ease;
}

#menu-toggle input{
    position: relative;
    width: 30px;
    height: 30px;
    top: 25px;
    left: -5px;
    padding: 0;
    cursor: pointer;
    opacity: 0;
}

#menu-toggle label{
    position: relative;
    display: block;
    background-color: var(--yellow);
    padding: 1.5rem;
    width: auto;
    z-index: 2;
}

#menu-toggle input:checked + label{
    background-color: var(--darkgray);
    color: var(--white);
    right: 13.25rem;
    padding: .5rem;
    transition: right .3s ease;
    text-align: center;
}

ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0;
    padding: 0;
    padding-top: 1px;
    background: var(--teal);
    right: -100%;
    transition: right .3s ease;
    text-align: center;
    width: 100%;
}

ul li{
    padding: 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1.5px solid;
}

#menu-toggle input:checked ~ ul{
    right: 13.25rem;
}

/* add hamgurger menu*/

#main-content{
    position: relative;
    top: -30px;
}

h2 {
    font-size: 2.2rem;
    padding: .5rem 1rem;
}

#intro p{
    padding: 0 1rem;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: .9rem;
}

#img-grid{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    padding: .5rem 0;
}

#img-grid img{
    width: 100%;
    height: auto;
}

#plan{
    background-color: var(--yellow);
    padding: .5rem;
}

h3{
    font-size: 2.2rem;
    padding: 1rem;
}
#plan div{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
    margin: 1rem;
}

#plan section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--teal);
    border: .125rem solid var(--white);
    border-radius: 10px;
}

#plan h4{
    font-size: 1.2rem;
    padding: 1rem 0;
    font-weight: bold;
    text-transform: uppercase;
}

#plan img{
    display: block;
    margin: 0 auto;
    height: 80%;
    width: auto;
}

#testimonials {
    padding: 1.5rem 0;
}

#testimonials div{
    display: grid;
    grid-gap: 1rem;
    grid-template-rows:repeat(4, 1fr);
}

#testimonials section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimonials img{
    height: 65%;
}

#testimonials h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: .5rem 0;
}

#testimonials p, #testimonials q{
    text-align: center;
    font-size: 1.1em;
}

#testimonials p{
    padding: .12rem 0;
}
q{
    padding: 0 3rem;
    font-style: italic;
    line-height: 115%;
    quotes: '"' '"';
}

q::before{
    content: open-quote;
}

q:after{
    content: close-quote;
}

#about {
    background-color: var(--blue);
}

#about div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

#about section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about h4{
    font-weight: bold;
    text-transform: uppercase;
    padding: .5rem 0;
}

#about img{
    display: block;
    margin: 0 auto;
    height: 40%;
    width: auto;
}

#about section:nth-child(even){
    width: 150px;
}

#contact h3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}


form{
    display: block;
    margin: 0 1.5rem;
}

.form-required{
    font-family: 'Montserrat', sans-serif;
    font-size: .875rem;
    font-style: italic;
}


label, legend{
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: .5rem;
    font-size: 1em;
}

.required{
    color: var(--purple);
    font-weight: 100;
    font-size: 1.2rem;
    padding: .12rem;
}

input{
    margin-left: .3rem;
}

input, .custom-select{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: .675rem 1rem;
    border: 2.5px solid var(--purple);
    border-radius: 2px;
    line-height: 1;
    width: 100%;
}

fieldset{
    padding-bottom: 1rem;
}
fieldset label {
    font-weight: 100;
    text-transform: capitalize;
}


fieldset label{
    font-size: 1.2rem;
    line-height: 2;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

input[type="radio"]{
    appearance: none;
    margin: 0;
    color: var(--purple);
    width: 3em;
    height: 3em;
    border: 0.15em solid var(--purple);
    border-radius: 50%;

    display: grid;
    place-content: center;
}

input[type="radio"]::before{
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--purple); 
}

input[type="radio"]:checked::before{
    transform: scale(2);
}

.radio-label{
    padding: .2rem 2rem;
}

select{
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}

.custom-select{
    margin-left: .3rem;
    display: grid;
    grid-template-areas: "select";
    align-items: center;
}

select, .custom-select:after{
    grid-area: select;
    justify-self: end;
}

.custom-select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--purple);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }

  input[type="submit"]{
    background-color: var(--purple);
    color: var(--lightgray);
    width: 100%;
    border-radius: 0;
    padding: 1rem;
    margin-top: 1rem;
    text-transform: uppercase;
  }

footer{
    background-color: var(--lightgray);
    padding: .5em 5em 1em 5em;
    font-size: .7em;
    line-height: 3em;
}

footer a{
    color: var(--darkgray);
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

/* WORK ON BREAKPOINTS */

/*medium screen*/
@media screen and (min-width: 600px){
    a{
        text-decoration: none;
        color: var(--darkgray);
    }

    header{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 1rem;
    }
    h1{
        padding: 1rem 1rem .5rem;
    }
    header a {
        grid-row: 1/3;
    }
    #logo img{
        height: auto;
        width: 120%;
    }
    header p{
        grid-row: 2/-1;
        grid-column: 2/-1;
        padding: 1rem;
    }
    nav{
        margin: auto;
    }
    nav, #menu-toggle{
        display: flex;
    }

    nav, #menu-toggle{
        grid-row: 3/4;
        grid-column: 1/-1;
    }

    nav ul{
        display: flex;
        flex-basis: 0;
        flex-grow: 1;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        color: var(--black);
        text-transform: uppercase;
        font-weight: bold;
        align-items: center;
    }
    #intro{
        display: grid;
    }

    
    
    li a{
        background-color: var(--white);
        padding: 1rem .5rem;
    }

    li.active a{
        background-color: var(--yellow);
    }

   nav label, nav input{
        display: none;
    }

    #img-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 1rem;
    }

    
   img[alt^="Turquoise"]{
    grid-column: 2/3;
    grid-row: 1/2;
   }

   img[alt^="A calm"]{
    grid-column: 1/2;
    grid-row: 1/2;
   }

    picture{
        grid-column: 1/-1;
    }
    h3{
        padding-bottom: .5rem;
    }
    #plan div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #testimonials div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #about div{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    #about h3{
        text-align: center;
    }

   #contact{
    padding: 1rem;
   }

   #contact h3{
    display: flex;
    justify-content: flex-start;
    gap: .5rem;
   }

   fieldset{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: .5rem;
   }

   input, .custom-select{
    padding: 1rem;
   }

   input[type="radio"]{
    width: 4em;
    height: 4em;
   }

   input[type="radio"]:checked::before{
    transform: scale(2.5);
   }

   .radio-label{
    padding: .8rem 2.7rem;
   }
   input[type="submit"]{
    width: 50%;
    margin-left: 50%;
   }

   footer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
   }
}

/*large screens*/
@media screen and (min-width: 900px){
    header{
        display: grid;
        grid-template-columns: .5fr 2fr;
        grid-template-rows: 1fr;
    }

    nav {
        position: relative;
        left: 24.5%;
        top: -808%;
    }

    h1{
       grid-row: 1/2; 
       grid-column: 2/3;
       position: relative;
       top: 50px;
       padding: 0;
    }

    header p{
        grid-row: 2/3;
        padding: .5rem;
    }

    header a{
        grid-row: 1/3;
    }

    #logo img{
        height: auto;
        width: 110%;
    }

    #intro{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr 2fr;
        padding: 2rem;
    }

    #intro h2{
        padding-top: 2rem;
    }
    
    #intro p{
        grid-column: 1/2;
        font-size: .8rem;
    }

    #img-grid{
        grid-column: 2/-1;
        grid-row: 1/3;
        grid-gap: .5rem;
    }

    li a{
        padding: .5rem;
    }

    #plan{
        padding: 2rem;
    }

    #plan div{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        margin: 0;
    }

    #plan section, #plan img, #plan a{
        height: 80%;
        width: auto;
    }

    #plan h4{
        font-size: 1rem;
    }
    #testimonials{
        margin: 2rem;
    }
    #testimonials div{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr;
        align-items: center;
        margin: 1rem;
    }

    #testimonials section{
        height: 70%;
        width: auto;
        justify-content: center;
    }
    #testimonials h3{
        font-size: 3rem;
    }
    #testimonials h4{
        font-size: 1.3rem;
    }
    #testimonials q{
        padding: 0;
        font-size: .9em;
    }

    #about{
        padding: 2rem 0;
    }

    #about h3{
        text-align: left;
        padding: 0rem 2rem;
    }

    #about div{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #contact{
        margin: 2rem;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #contact h3{
        padding: 0;
    }

    #contact form{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
        margin: 0;
        width: 100%;
    }
   

    input {
        margin-left: 0;
    }

    input[type="radio"]{
        width: 3em;
        height: 3em;
    }

    .radio-label{
        padding: .2rem 2rem;
    }

    input[type="radio"]:checked::before{
        transform: scale(2);
    }

    input[type="submit"]{
        margin: 3rem;
        width: 75%;
        margin-left: 25%;
    }

    footer{
        display: grid;
        grid-template-columns: 5fr 1fr 1fr;
    }

}